<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->

		<div >
            <label>ID pokemon</label><input type="text" ng-model="idPk"></input>
            <label>Nom pokemon</label><input ng-model="nom"/>
                {{idPk}}
                {{nom}}
        </div>

		<!-- Pokémon information -->
		<div ng-controller="poke">
            <SELECT name="liste" size="1">
            <option ng-repeat="pokel in listpoke">{{pokel.nom}}</option>
            </SELECT>
        </div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
