<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>

<body ng-app="pokedex">

    <div class="container">
        <h1>Pokésir</h1>

        <!-- Search -->

        <div ng-controller="poke">
            <label>ID pokemon<input type="text" ng-model="idPk"></input></label>
            </br>
            <label>Nom pokemon <input ng-model="nom" /></label> {{idPk}} {{nom}}
            </br>
            <SELECT ng-model="no" size="1">
               <option ng-repeat="pokel in listpoke | filter:nom">{{pokel.nom}}</option>
            </SELECT>
            </br>
            <button ng-click="$log.warn(no)">Go!</button>
        </div>

        <!-- Pokémon information -->
        <div ng-controller="poke">

        </div>

    </div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>

</html>